## Temporary ignore files

Client Files/
Server Files/
Tools/

Source/Client Side/Client_EX401/
Source/Client Side/Client_EX603/
Source/Client Side/Client_EX803/
Source/Client Side/Main_EX603/
Source/Client Side/Main_EX803/
Source/Security/
Source/Unk Projects/